.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-form__label {
    align-self: flex-start;
    font-weight: 500;
}

.modal-form__input,
.modal-form__select {
    width: 100%;
    padding: 8px;
    background-color: var(--bg-input);
    color: var(--text-input);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;

    &:focus {
        outline: none;
        border-color: var(--brand-color);
    }
}


.modal-form__btn {
    width: 100px;
    height: 36px;
    background-color: var(--brand-color);
    color: var(--text-secondary);
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    
    &:disabled {
        background-color: grey;
        cursor: not-allowed;
    }
    
    &:hover:not(:disabled) {
        background-color: var(--btn-hover);
    }
}

.modal-form__btn--exit {
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid  var(--accent-color);

    &:hover:not(:disabled) {
        background-color: var(--btn-hover);
    }
}

.modal-form__error {
    margin-top: 0px;
    margin-bottom: 0px;
    color: red;
}

.modal-form__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}
