* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343F52;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 20px 0px;
}

#app {
    background-color: white;
    width: 95%;
    max-width: 1200px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}