.header-view {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0px;
    gap: 20px;
}


@media (max-width: 576px) {
    .header-view {
        flex-direction: column;
        align-items: stretch;
    }

    .view-title {
        text-align: center;
    }
}